<div class="responsive-calendar" data-translate-months="Styczeń,Luty,Marzec,Kwiecień,Maj,Czerwiec,Lipiec,Sierpień,Wrzesień,Październik,Listopad,Grudzień">
  <div class="controls">
    <a class="pull-left" data-go="prev">
      <div class="btn btn-primary">&lt&lt</div>
    </a>
    <h4><span data-head-year></span> <span data-head-month></span></h4>
    <a class="pull-right" data-go="next">
      <div class="btn btn-primary">&gt&gt</div>
    </a>
    </div>
    <hr/>
    <div class="day-headers">
      <div class="day header">MO</div>
      <div class="day header">DI</div>
      <div class="day header">MI</div>
      <div class="day header">DO</div>
      <div class="day header">FR</div>
      <div class="day header">SA</div>
      <div class="day header">SO</div>
    </div>
    <div class="days" data-group="days">
    </div>
  </div>